/* Write your global styles here, in PostCSS syntax */

@tailwind base;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.default-blue-bg{
  background-color: #2362a2;
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}


@tailwind components;

@tailwind utilities;
