/* Write your global styles here, in PostCSS syntax */

@tailwind base;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.default-blue-bg{
  background-color: #2362a2;
}


@tailwind components;

@tailwind utilities;
